<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://localhost:8011/AutoupdateService.xml</ServerUrl>
  <UserName />
  <PassWord />
  <TryTimes>2</TryTimes>
  <UpdateFileList>
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.exe.config" lastver="" size="406" version="99f530bc-6ae8-46ac-a3d0-f9329337c302" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.pdb" lastver="" size="17920" version="63fe8d55-32cb-428f-aa07-700342a84d49" tryTimes="" />
    <LocalFile path="站点检测运营工具/HtmlAgilityPack.dll" lastver="1.4.0.0" size="133120" version="88aedabc-1c82-4856-ac4b-adf10893c273" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.dll" lastver="1.3.1.4349" size="293888" version="b5e73c3d-187c-42a1-9a99-ac247a355daf" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.pdb" lastver="" size="1078784" version="c29f957b-3d40-4d1a-adff-d37485186454" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.xml" lastver="" size="620069" version="c486af63-ab19-4d05-82f0-68a9a14c9f0f" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.dll" lastver="1.3.1.4349" size="226304" version="dbdaff73-0510-40a5-b089-1a50b401ce52" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.pdb" lastver="" size="914944" version="04e5ae01-203a-41e2-a2ba-4e5622aa607e" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.xml" lastver="" size="564240" version="5c1f2b90-bd8c-479b-941b-2b95798094ea" tryTimes="" />
    <LocalFile path="站点检测运营工具/MyXls.SL2.dll" lastver="1.0.0.0" size="130048" version="3cca1731-4d2d-4141-b5d2-5b0397c1ec73" tryTimes="" />
    <LocalFile path="站点检测运营工具/NLog.dll" lastver="1.0.0.505" size="282624" version="5e48e68a-324e-40e8-a0eb-6f155ee3cf72" tryTimes="" />
    <LocalFile path="站点检测运营工具/nlog.dll.nlog" lastver="" size="2242" version="0c75b9c4-7ead-43c6-8520-c39aed1f5bcb" tryTimes="" />
    <LocalFile path="站点检测运营工具/NPOI.dll" lastver="1.2.5.0" size="1454080" version="17257fa2-a0d3-49aa-9329-819eb1d71e71" tryTimes="" />
    <LocalFile path="站点检测运营工具/QiaoxingWebService.dll" lastver="0.0.0.0" size="10240" version="856a5255-d204-4375-aaa7-f6683d5fe6c3" tryTimes="" />
    <LocalFile path="站点检测运营工具/QXWebSrvPending.dll" lastver="0.0.0.0" size="40960" version="edc5fe35-239b-4fc2-b73b-8ffeebd0c219" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.exe.config" lastver="" size="564" version="af759607-a785-487b-abc2-01e1c111f9e4" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe" lastver="10.0.30319.1" size="11600" version="9a7984c5-490c-44b2-b04c-c0fefdf10259" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe.config" lastver="" size="564" version="3564c23f-535e-4d71-b3d2-a4c9170fefc1" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe.manifest" lastver="" size="490" version="d1487a69-dd39-4f5e-9b8a-312c988f2de5" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.MessageSender.dll" lastver="1.0.0.0" size="19968" version="8c6a4c40-157c-4a34-ad37-e5ffe9bcb34b" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.WebReference.dll" lastver="1.0.0.0" size="56832" version="ff7cdfc9-acc9-407b-93d8-a1904fd32c9f" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.WebReference.pdb" lastver="" size="75264" version="169c4420-cb46-46d9-83e0-35ee7a7f20dd" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhoo.Framework.dll" lastver="1.0.0.0" size="25088" version="19641ffb-675f-4ab8-ada8-c9ba4b3c770b" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhoo.Utilities.dll" lastver="1.0.0.0" size="131584" version="08f808f6-9d3e-44b5-a6ef-231ef980eb90" tryTimes="" />
    <LocalFile path="站点检测运营工具/zxing.dll" lastver="1.0.5000.31779" size="217088" version="8e6a35fa-2a32-402e-89cb-9f69433c6658" tryTimes="" />
    <LocalFile path="三盛系统模块加载速度测试结果.docx" lastver="" size="12121" version="48e869a9-58a7-4e9c-a639-b0e869692984" tryTimes="" />
    <LocalFile path="文件服务器2015版开发计划2.xlsx" lastver="" size="13906" version="a884c332-2ad2-45d3-ac8d-935821db88cf" tryTimes="" />
    <LocalFile path="ProjPlanTask_卓越项目开发计划V6-20141223.xlsx" lastver="" size="21524" version="ffb69d52-d9fa-4a54-bb52-8ed7749d651a" tryTimes="" />
  </UpdateFileList>
</Config>