<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://125.77.255.2:8027/AutoupdateService.xml</ServerUrl>
  <UserName />
  <PassWord />
  <TryTimes>2</TryTimes>
  <UpdateFileList>
    <LocalFile path="站点检测运营工具/ABCpdf.dll" lastver="7.0.0.8" size="2056136" version="d189e3cf-2698-43fb-8000-43dca28178ca" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.exe" lastver="1.0.0.0" size="9216" version="89b23d37-6b74-4d6f-9f12-f0f2b3e6a231" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.exe.config" lastver="" size="406" version="8202a9b9-8669-4e7e-ab67-d0ba1b02cd10" tryTimes="" />
    <LocalFile path="站点检测运营工具/AutoSystemHealtyDiagnoses.pdb" lastver="" size="17920" version="dd8bca46-ba34-4199-8b2f-905650b8f4ac" tryTimes="" />
    <LocalFile path="站点检测运营工具/HtmlAgilityPack.dll" lastver="1.4.0.0" size="133120" version="ac1aeb87-40a7-443f-8479-3ae42e859ac8" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.dll" lastver="1.3.1.4349" size="293888" version="b060c0ae-cc7e-48c6-914d-3af2937cbe3d" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.pdb" lastver="" size="1078784" version="ccd2d326-e90c-4d2a-84ae-b77c9e12b0a6" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Bson.xml" lastver="" size="620069" version="c9972b5d-f762-4054-8dc2-3e5a2efa9f54" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.dll" lastver="1.3.1.4349" size="226304" version="21227781-7959-43e1-bbc7-b335917fa210" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.pdb" lastver="" size="914944" version="84dd1f14-dc6e-4471-b97a-e6439632d530" tryTimes="" />
    <LocalFile path="站点检测运营工具/MongoDB.Driver.xml" lastver="" size="564240" version="efea550c-b7d7-4596-bef2-e2d6f62bcc35" tryTimes="" />
    <LocalFile path="站点检测运营工具/MyXls.SL2.dll" lastver="1.0.0.0" size="130048" version="032dbd59-67d8-49c7-adc8-c36ccade8de0" tryTimes="" />
    <LocalFile path="站点检测运营工具/NLog.dll" lastver="1.0.0.505" size="282624" version="c0c71b3d-a0a2-4bc8-b6d7-28e21a3ecb4b" tryTimes="" />
    <LocalFile path="站点检测运营工具/nlog.dll.nlog" lastver="" size="2242" version="5c178340-1038-4838-8a86-b2c5b2ff550c" tryTimes="" />
    <LocalFile path="站点检测运营工具/NPOI.dll" lastver="1.2.5.0" size="1454080" version="2c67665c-cdc4-46ac-9b28-a97c8b8585bb" tryTimes="" />
    <LocalFile path="站点检测运营工具/QiaoxingWebService.dll" lastver="0.0.0.0" size="10240" version="7a8206d0-e95c-4f05-9c2f-7c34768f3320" tryTimes="" />
    <LocalFile path="站点检测运营工具/QXWebSrvPending.dll" lastver="0.0.0.0" size="40960" version="a50606b5-006f-46b1-b714-3831ecc1464a" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.exe" lastver="1.0.0.0" size="18944" version="f2b1f1f6-883c-4613-8310-64c1501449f8" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.exe.config" lastver="" size="564" version="f640a64b-f4e9-472c-8cfe-3ea74d4338ca" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.pdb" lastver="" size="38400" version="5fb2ebee-4dc0-403e-a7b2-aa0d8b0c5dae" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe" lastver="10.0.30319.1" size="11600" version="5f59fa15-d2b0-4cf6-8d4c-ef2a6bfb9521" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe.config" lastver="" size="564" version="5f6a01be-86b2-444d-95c1-36b5d594cb3c" tryTimes="" />
    <LocalFile path="站点检测运营工具/SiteHealthDiagnoses.vshost.exe.manifest" lastver="" size="490" version="a9dfe291-832e-46f5-be77-cfee6b5b1e4d" tryTimes="" />
    <LocalFile path="站点检测运营工具/web.config" lastver="" size="477" version="ffd4963c-5648-47a1-837e-f624ca4e6186" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.MessageSender.dll" lastver="1.0.0.0" size="19968" version="5c5b07be-62b7-4dec-b876-5727dbe67339" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.ProcessingCenter.dll" lastver="1.0.0.0" size="3236352" version="e67320c2-0579-4fd1-8099-4b765b182c73" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.ProcessingCenter.pdb" lastver="" size="5928448" version="a8bd7a7c-fa9f-470f-a304-9ddf877bb3c9" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.WebReference.dll" lastver="1.0.0.0" size="56832" version="de23d42f-ad69-41fb-9448-45311b077edf" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhe.WebReference.pdb" lastver="" size="75264" version="d08fd4b8-1ee6-4c7d-b897-55d582f0a2dd" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhoo.Framework.dll" lastver="1.0.0.0" size="25088" version="2c54272f-6f23-446e-b603-99c136317b8f" tryTimes="" />
    <LocalFile path="站点检测运营工具/Yinhoo.Utilities.dll" lastver="1.0.0.0" size="131584" version="01b059df-c948-4062-ae71-4b32876f1198" tryTimes="" />
    <LocalFile path="站点检测运营工具/zxing.dll" lastver="1.0.5000.31779" size="217088" version="1bbb493c-666b-4daa-aeb8-a5b9d785c608" tryTimes="" />
  </UpdateFileList>
</Config>